<app-menu></app-menu>
<div class="complete-container">
    <div class="w95-container">
        <app-atomic-back-section
            title="Empleados"
        ></app-atomic-back-section>
        <div class="button-container-end mt-4">
            <app-atomic-button
                typeButton="padding"
                icon="pi pi-database"
                titleButton="Crear empleado"
                (emitAction)="openDialog()"
            ></app-atomic-button>
        </div>
        <app-atomic-table
            [setDisplayedColumns]="displayColumns"
            [hasPaginator]="true"
            [setTableInformation]="empleados"
            [actionButtons]="actionsTable"
            (actionButton)="actionButton($event)"
        ></app-atomic-table>
    </div>
</div>